html,
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  padding: 15px;
  margin: 0 0 15px;
  background-color: royalblue;
  color: #ffffff;
  text-align: center;
}

.container {
  padding: 0 15px 18px;
}

.rightContainer {
  padding-top: 15px;
  text-align: right;
}

.simpleTable {
  width: 100%;
  border-collapse: collapse;
}

.simpleTable td {
  border: 1px solid #353535;
  padding: 8px 12px;
}

.warning {
  background-color: red;
}
